@import url('../node_modules/bulma/css/bulma.css');
$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

$c-orange : #ff6600;

body {
    color:$c-orange;
}
.main-wrap {
    padding: 30px 0 30px 0;
}

.box {
    margin-bottom: 20px;
}
.book-list {
    display:flex;
    flex-direction: row;
}

.book-item {
    display:flex;
    flex-direction: column;
    color:#e3e3e3;
    border-bottom: solid 1px #e4e4e3;
    padding:10px;
    overflow:hidden;
    align-items:center;
    justify-content:space-between;
}
.book-title {
    color: #333;
    font-weight: 700;
}
.book-title:hover {
    color: #c25c60;
}
.book-author {
    padding-bottom: 1px;
    border-bottom: 1px solid #d8d8d8;
    color: #999;
    font-weight: 400;
}
.book-price{
    color:#ffdd57;
}

.book-author:hover {
    border-bottom-color: #8088b1;
    color: #5a6499;
}
.book-single-title {
    color: #333;
    font-weight: 700;
    line-height: 1.2;
    font-size: 25px;
}
.book-single-item {
    border: 1px solid #ffdd57;
    padding:10px;
}
.book-single-info {
    padding: 10px 0;
}
.book-single-description {
    border: 1px solid #ececec;
    background-color: #fefbef;
    padding: 10px;
}
.description-title {
    font-weight: 700;
    color: #333;
    font-size: 18px;
}
//Author

.contributor-info {
    padding: 20px 0 60px 0;
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 20px;
    display: flex;
    flex-flow: row wrap;

}
.contributor-title {
    color: #a0a0a0;
    font-weight: 700;
    font-size: 135%;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 15px;
}

.continious-list {
    display:flex;
    flex-flow: row nowrap;
}

.continious-item {
    display:flex;
    flex-flow: column nowrap;
    padding: 0 23px 30px 0;
}


//Genre
.genres-list {
    display:flex;
    flex-direction: row;
}
.genre-item {
    border: 1px solid #fff;
    color: #5e5657;
    padding: 5px;
    border-radius: 3px;
    text-align: center;
    flex-grow: 1;
    font-size: 1.3em;
}