@import url('../node_modules/bulma/css/bulma.css');
@import url('../node_modules/font-awesome/css/font-awesome.css');

.book-list {
    display:flex;
    flex-direction: column;
}

.book-item {
    display:flex;
    color:#e3e3e3;
    border-bottom: solid 1px #e4e4e3;
    padding:10px;
    overflow:hidden;
    align-items:center;
    justify-content:space-between;
}
.book-title {
    color: #333;
    font-weight: 700;
}
.book-title:hover {
    color: #c25c60;
}
.book-author {
    padding-bottom: 1px;
    border-bottom: 1px solid #d8d8d8;
    color: #999;
    font-weight: 400;
}
.book-author:hover {
    border-bottom-color: #8088b1;
    color: #5a6499;
}
.book-single-item {
    border: 1px solid #ffdd57;
}