.book-item {
	display: flex;
	flex-direction: column;
	justify-content:space-between;
	min-height: 100%;
	color: #e3e3e3;
	box-shadow: 0 0 20px 0 rgba(155,148,137,.5);
	border: 1.3px solid rgba(104,97,89,.1);
	border-radius: 3px;
	overflow: hidden;
	align-items: center;
	padding: 30px 10px;
	&:hover {
	 border: 1px solid #fd6462;
	}
	& > * {
		margin-bottom:10px;
	}
}
.button-buy {
	width:100%;
	transition: all .2s;
}
.book-price {
	color: #000;
	font-weight: 700;
	font-size: rem(18);
}
.book-title {
	font-size: 1rem;
	font-weight: 500;
	color:#000;
}
.book-author {
	color: #686259;
}
.book-genre {
	color: #00d1b2;
}
.book-thumbnail {
	max-height: 270px;
}