// @import "../../../node_modules/bulma/bulma.sass";
%flex {
		@include from(d) {
				display:flex;
		}
}

html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

body {
		display: flex;               // Holy Grail Layout
		min-height: 100vh;           // Holy Grail Layout
		flex-flow: column nowrap;    // Holy Grail Layout
		color:#363636;
		background-color: #f1f2f4;
		font-family: "Roboto Slab";
		font-weight: 300;
		word-wrap: break-word;
		/* overflow-y: scroll; */
		overflow-x: hidden !important;
		/* @include debug-layout; */
}
.site-content {
		display: flex;                // Holy Grail Layout
		flex-direction: column;       // Holy Grail Layout
		justify-content: center;
}
img {
		height: auto;
		max-width: 100%;
}
input:focus,
textarea:focus {
		outline: none;
}
.break-word {
				word-wrap: break-word;
}
.center {
		text-align:center;
}
.hidden {
		display: none !important;
		visibility: hidden !important;
}


a {
		color: #285473;
		text-decoration: none;
		transition: all .35s;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

ol {
	counter-reset: list1;

	li:before {
		counter-increment: list1;
		content: counter(list1) '. ';
	}

	ol {
		counter-reset: list2;

		li:before {
			counter-increment: list2;
			content: counter(list1) '.' counter(list2) '. ';
		}

		ol {
			counter-reset: list3;

			li:before {
				counter-increment: list3;
				content: counter(list1) '.' counter(list2) '.' counter(list3) '. ';
			}
		}
	}
}