/*
# ===============================================
# Layout
# ===============================================
*/
.center-xs {
  justify-content: center;
  text-align: center;
}

.middle-xs {
  align-items: center;
}

.catalog-item {
    figure {
        margin:0;
        @extend %flex;
        flex-flow: column wrap;
    }
}
.catalog-list {
    & > .filter {
        @extend %flex;
        flex-direction: row;
        justify-content:center;
        li {
            text-align: center;
            margin: 1rem;
        }
    }
}
